<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <h1>Form to add meds</h1>

    <form class="" action="/meds/add" method="post">
        <input type="text" name="name" placeholder="medicine"/>
        <input type="text" name="count" placeholder="count"/>
        <input type="text" name="brand" placeholder="brand"/>
        <button class="btn bt-primary" type="submit">Add</button>
    </form>
</body>
</html>